{% extends "base.html" %}
{% block title %}
{% if is_edit %}
    Modifica Messaggio
{% else %} 
    Crea Nuovo Messaggio
{% endif %} 
{% endblock %}
{% load user_filters %}
{% block content %}


      <!-- ============================================================== -->
      <!-- Start right Content here -->
      <!-- ============================================================== -->
      <div class="main-content">

          <div class="page-content">
              <div class="container-fluid">

                  <!-- start page title -->
                  <div class="row">
                      <div class="col-12">
                          <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                              <h4 class="mb-sm-0">Crea Nuovo Messaggio</h4>
<div class="page-title-right">
                                  <ol class="breadcrumb m-0">
<div class="d-flex flex-wrap gap-2">
                                            
											<a href="javascript:history.back();" class="btn btn-primary waves-effect waves-light">Torna</a>
									  
                                        </div>
                                      
                                  </ol>
                              </div>


                          </div>
                      </div>
                  </div>
                  <!-- end page title -->
					<div class="row">
                        <div class="col-lg-12">
                            <div class="card">

                             <div class="card-body">

                                <div class="card-body">
                                    <form method="post" enctype="multipart/form-data"
                                    {% if action_url %}
                                        action="{% url action_url %}"
                                    {% endif %}>
                                    
                                    {% csrf_token %}
                                    
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label class="form-label">Oggetto messaggio</label>
                                            <input id="{{ form.oggetto.id_for_label }}" type="text" class="form-control" placeholder="{{ form.oggetto.help_text }}" value=" ">
                                        </div>
                                        <div class="row placeholder-xs">
                                        </div>
                                        <div class="col-lg-12">
                                            <label class="form-label">Messaggio</label>
                                            <textarea id="id_messaggio" class="form-control" rows="12" placeholder=" "></textarea>
                                        </div>


                                    </div> 
                                    <div class="row placeholder-xs">
                                    </div>
                                    <div class="col-lg-12">         
                                        <button type="submit" class="btn btn-primary align-self-end">
                                            {% if is_edit %}
                                                Salva
                                            {% else %}
                                                Crea
                                            {% endif %}
                                        </button>
                                    </div>
                                    </form>
                                </div> 



								
								


                                    
					

                            </div>
                  <!-- end row -->
                </div>
              </div>
              <!-- container-fluid -->
          </div>
          <!-- End Page-content -->
        </div>

      </div>
      <!-- end main content-->

  </div>
  <!-- END layout-wrapper -->



  <!--start back-to-top-->
  <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
      <i class="ri-arrow-up-line"></i>
  </button>
  <!--end back-to-top-->



{% endblock %}